<ion-header>
  <ion-toolbar>
    <ion-title>รายละเอียดการแข่งขัน</ion-title>

    <!-- Back page button -->
    <ion-buttons slot="start" (click)="backAddMacth()">
      <ion-icon slot="start" name="caret-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div *ngIf="addMacthModel"> -->
    <!-- <form [formGroup]="addMacth" (ngSubmit)="addMacthAlert()"> -->
      <ion-card>
        <ion-item class="ion-margin-end">
          <ion-label position="floating">ประเภทการแข่งขัน</ion-label>
          <ion-input type="text" [value]="typeMacth" readonly></ion-input>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item class="ion-margin-end">
          <ion-label position="stacked" style="font-size: 20px;">ชื่อรายการการแข่งขัน</ion-label>
          <ion-input type="text" formControlName="competition"></ion-input>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-row>
          <ion-col>
            <ion-item class="ion-margin-end">
              <ion-label position="stacked" style="font-size: 20px;">จำนวนคนที่รับสมัคร</ion-label>
              <ion-input type="number" formControlName="body"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item class="ion-margin-end">
              <ion-label position="stacked" style="font-size: 20px;">วันที่ปิดรับสมัคร</ion-label>
              <ion-datetime displayFormat="DD/MM/YY" placeholder="เลือกวันที่" formControlName="dateClose"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-item class="ion-margin-end">
            <ion-label>สถานะการรับสมัคร</ion-label>
            <ion-toggle checked formControlName="statusOfColse"></ion-toggle>
          </ion-item>
        </ion-row>
      </ion-card>
      <ion-button ion-button type="submit" expand="block" shape="round" color="success" class="button">ยืนยัน</ion-button>  
    <!-- </form> -->
  <!-- </div> -->
  
</ion-content>