<ion-header>
  <ion-toolbar>
    <ion-title>ให้คะแนน</ion-title>

    <!-- Back page button -->
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- start:: Macth number -->
  <ion-item color="medium" class="ion-margin-horizontal ion-margin-vertical">
    <ion-grid fixed color="ligth">
      <ion-row>
        <ion-col size="2" offset="2">
          <ion-item>
            <ion-row>
              <ion-label class="ion-text-center">1</ion-label>
            </ion-row>
          </ion-item>
        </ion-col>
        <ion-col size="2" offset="3" class="ion-text-center">
          <ion-item>
            <ion-row>
              <ion-label class="ion-text-center">2</ion-label>
            </ion-row>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <!-- end:: Macth number -->

  <!-- start:: Player detail and report alert -->
  <ion-item color="medium" class="ion-margin-horizontal ion-margin-vertical">
    <ion-grid fixed>
      <!-- start:: Player detail -->
      <ion-row>
        <ion-col size="3">
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-img src="../../../assets/img/220453.jpeg"></ion-img>
            </ion-thumbnail>
          </ion-item>
        </ion-col>

        <!-- start:: Point macthed -->
        <ion-grid fixed>
          <!-- Macth Point -->
          <ion-row>
            <ion-col size="8" offset="2">
              <ion-item color="light" class="ion-text-center">
                <ion-label>Macth Point</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

          <!-- Point Macth -->
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label class="ion-text-center">15</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label class="ion-text-center">13</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

        </ion-grid>
        <!-- end:: Point macthed -->

        <ion-col size="3">
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-img src="../../../assets/img/220454.jpg"></ion-img>
            </ion-thumbnail>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- end:: Player detail -->

      <!-- start:: Name Player and report -->
      <ion-row class="ion-padding-bottom">
        <ion-col size="4">
          <ion-label class="ion-text-center">ศุภชัย โชคอนัน</ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-label class="ion-text-start">ถอน</ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-label class="ion-text-end">ถอน</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label class="ion-text-end">กุลโชติ เรืองสี</ion-label>
        </ion-col>
      </ion-row>
      <!-- end:: Name Player and report -->

      <!-- start:: Manage point -->
      <ion-row class="ion-padding-horizontal ion-margin-vertical">
        <ion-col size="4">
          <ion-fab-button>
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label>Roll Back</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-fab-button>
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
      <!-- end:: Manage point -->

    </ion-grid>
  </ion-item>
  <!-- end:: User Player and report alert -->

  <ion-button (click)="completeMacth()" expand="block" shape="round" color="success" size="large" class="ion-margin-horizontal">จบการแข่งขัน</ion-button>

</ion-content>
