<ion-header>
  <ion-toolbar>
    <ion-title>รายการแข่งขัน</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="admin-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-card ion-button color="dark">
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col class="ion-align-self-start ion-text-start">
              9:00
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-align-self-end ion-text-start">
              สนาม 1
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col class="ion-align-self-end">
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-img src="../../../assets/img/220453.jpeg"></ion-img>
            </ion-thumbnail>
          </ion-item>
        </ion-col>
        <ion-col class="ion-align-self-end">
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-img src="../../../assets/img/220454.jpg"></ion-img>
            </ion-thumbnail>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col class="ion-align-self-start ion-text-end">
              <!-- 4 -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-align-self-end ion-text-end">
              <!-- 4 -->
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-align-self-center ion-text-start">
            <ion-label>ศุภชัย โชคอนัน</ion-label>
        </ion-col>
        <ion-col size="5" class="ion-align-self-center">
          <ion-item color="light" class="ion-align-self-center">
            <ion-col size="12">
              <ion-row>
                <ion-label>นับถอยหลัง</ion-label>
              </ion-row>
              <ion-row>
                <ion-label>00:30</ion-label>
              </ion-row>
            </ion-col>
          </ion-item>
        </ion-col>
        <ion-col class="ion-align-self-center ion-text-end">
            <ion-label>กุลโชติ เรืองสี</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- start:: Fab Button Create match -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createMacth()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- end:: Fab Button Create match -->

</ion-content>