<ion-header>
  <ion-toolbar>
    <ion-title>รายการแข่งขัน</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="admin-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- start:: Macth list score history views -->
  <app-accordion color="dark">
    <ion-grid fixed>
      <ion-row class="ion-text-center">
        <ion-col size="2" offset="3">21</ion-col>
        <ion-col size="2">:</ion-col>
        <ion-col size="2">15</ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col size="2" offset="3">15</ion-col>
        <ion-col size="2">:</ion-col>
        <ion-col size="2">21</ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col size="2" offset="3">21</ion-col>
        <ion-col size="2">:</ion-col>
        <ion-col size="2">19</ion-col>
      </ion-row>
    </ion-grid>
  </app-accordion>

  <app-accordion color="dark">
     <ion-grid fixed>
      <ion-row class="ion-text-center">
        <ion-col size="2" offset="3">21</ion-col>
        <ion-col size="2">:</ion-col>
        <ion-col size="2">15</ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col size="2" offset="3">15</ion-col>
        <ion-col size="2">:</ion-col>
        <ion-col size="2">21</ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col size="2" offset="3">21</ion-col>
        <ion-col size="2">:</ion-col>
        <ion-col size="2">19</ion-col>
      </ion-row>
    </ion-grid>
  </app-accordion>
  <!-- end:: Macth list score history views -->
</ion-content>