<ion-app>
  <ion-menu menuId="admin-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title class="ion-text-center" style="font-size: 20px;">เมนู</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list class="menu-item" lines="none">
        <ion-menu-toggle>
          <ion-item class="ion-margin-end" routerLink="/add-macth">
            <ion-icon name="create-outline"></ion-icon>เพิ่มรายการการแข่งขัน
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item class="ion-margin-end" routerLink="/create-macth">
            <ion-icon name="duplicate-outline"></ion-icon>จัดตารางการแข่งขัน
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item class="ion-margin-end" routerLink="/competition-list">
            <ion-icon name="calendar-outline"></ion-icon>รายการการแข่งขัน
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item class="ion-margin-end" routerLink="/list-macth">
            <ion-icon name="ribbon-outline"></ion-icon>ผลการแข่งขัน
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
