<ion-header>
  <ion-toolbar>
    <ion-title>เพิ่มรายการการแข่งขัน</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="admin-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item class="ion-margin-end" >
      <ion-title class="ion-text-center">
        แบด 18
      </ion-title>
    </ion-item>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
