<ion-header>
  <ion-toolbar>
    <ion-title>เพิ่มรายการการแข่งขัน</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="admin-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- start:: Card content Macth list -->
  <ion-card color="secondary" (click)="addMacth()">
    <ion-card-header>
      <ion-row>
        <ion-col class="ion-text-center ion-margin-vertical">
          <ion-card-title>
            <ion-label size="18">แบดมินตันชาย 18 ปี</ion-label>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <ion-card color="secondary" (click)="addMacth()">
    <ion-card-header>
      <ion-row>
        <ion-col class="ion-text-center ion-margin-vertical">
          <ion-card-title>
            <ion-label size="18">แบดมินตันชาย 18 ปี</ion-label>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <ion-card color="secondary" (click)="addMacth()">
    <ion-card-header>
      <ion-row>
        <ion-col class="ion-text-center ion-margin-vertical">
          <ion-card-title>
            <ion-label size="18">แบดมินตันชาย 18 ปี</ion-label>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <ion-card color="secondary" (click)="addMacth()">
    <ion-card-header>
      <ion-row>
        <ion-col class="ion-text-center ion-margin-vertical">
          <ion-card-title>
            <ion-label size="18">แบดมินตันชาย 18 ปี</ion-label>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <ion-card color="secondary" (click)="addMacth()">
    <ion-card-header>
      <ion-row>
        <ion-col class="ion-text-center ion-margin-vertical">
          <ion-card-title>
            <ion-label size="18">แบดมินตันชาย 18 ปี</ion-label>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <ion-card color="secondary" (click)="addMacth()">
    <ion-card-header>
      <ion-row>
        <ion-col class="ion-text-center ion-margin-vertical">
          <ion-card-title>
            <ion-label size="18">แบดมินตันชาย 18 ปี</ion-label>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <!-- end:: Card content Macth list -->

  <!-- start:: Fab Button Add match -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addMacth()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- end:: Fab Button Add match -->
</ion-content>
